.App {
  font-family: sans-serif;
  text-align: center;
}

.city {
  font-size: 30px;
  color: rgb(0, 153, 255);
  font-weight: 900;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 0px 1px 10px 0px black;
  transition: 0.5s;
}

.city:hover {
  transform: scale(1.2);
  z-index: 1;
}

.citiesList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px;
}
