body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid gray;
}

table{
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    
}

table td, tr, th{
    width: fit-content;
    min-width: 100px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    
}

td:first-child{
    text-align: left;
}

table td:nth-child(1){
    width: fit-content;
}
table td:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.05);
}

table td:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);

}

table tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.2);
}

thead th:nth-child(1n){
    background-color: rgb(148,0,211);
}

thead{
    color: white;
}

thead th{
    font-weight: 600;
}
th ul{
    padding: 0px;
}
th li{
    list-style-type: none;
    padding: 0px;
}

/* plan */
th li:first-child{
    margin: -15px 0px 20px 0px;
}

/* price */
th li:nth-child(2n){
    font-size: 24px;
    font-weight: 900;
}

/* per month */
th li:last-child{
    margin: 0px 0px -20px 0px;
}


